.chart[data-v-96485d20] {
  width: 360PX;
  height: 360PX;
}
.layOutIndex[data-v-3fad5b5a] {
  text-align: center;
}
.layOutIndex > .chartContent[data-v-3fad5b5a] {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}
