.videoPlay[data-v-ed3aac1e] {
  position: relative;
  height: 100%;
  width: 100%;
}
.videoPlay > .video[data-v-ed3aac1e] {
  height: 100vh;
  width: 100%;
}
.videoPlay > .videoMask[data-v-ed3aac1e] {
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.videoPlay > .videoMask > .videoIcon[data-v-ed3aac1e] {
  height: 60PX;
  width: 60PX;
  background: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoPlay > .videoMask > .videoIcon > i[data-v-ed3aac1e] {
  font-size: 40PX;
  color: white;
}
.fullpage-container[data-v-0da60aec] {
  background: black;
}
