.layOutIndex[data-v-6e45dbd4] {
  background: #f7f7f7;
}
.layOutIndex .listStauts[data-v-6e45dbd4] {
  padding: 0 0.3125rem;
  margin: 0.3125rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.layOutIndex .chooseListWarp[data-v-6e45dbd4] {
  flex: 1;
}
.layOutIndex .chooseListWarp .chooseList[data-v-6e45dbd4] {
  margin: 5PX 0;
  height: 80PX;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1PX solid #ddd;
  border-bottom: 1PX solid #ddd;
  background: white;
}
.layOutIndex .chooseListWarp .chooseList .chooseListIcon[data-v-6e45dbd4] {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layOutIndex .chooseListWarp .chooseList .chooseListContent[data-v-6e45dbd4] {
  flex: 9;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layOutIndex .chooseAllBtnWarp[data-v-6e45dbd4] {
  height: 60PX;
  width: 100vw;
  border-top: 1PX solid #ddd;
  padding: 0 0.9375rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.layOutIndex .chooseAllBtnWarp .chooseAllBtnWarpIcon[data-v-6e45dbd4] {
  flex: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layOutIndex .chooseAllBtnWarp .chooseAllBtnWarpContent[data-v-6e45dbd4] {
  flex: 8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
