.index[data-v-d72eb066] {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  text-align: center;
}
.index > .title[data-v-d72eb066] {
  margin-top: 10%;
}
.index > .content[data-v-d72eb066] {
  padding: 0 5%;
  margin-top: 5%;
}
.index > .content > .text[data-v-d72eb066] {
  font-size: 0.9375rem;
  text-indent: 1.875rem;
  text-align: left;
  line-height: 1.5625rem;
  letter-spacing: 0.15625rem;
}
.index > .step[data-v-d72eb066] {
  padding: 0 5%;
  margin-top: 5%;
}
.index > .step > .text[data-v-d72eb066] {
  font-size: 0.9375rem;
  text-indent: 1.875rem;
  text-align: left;
  line-height: 1.5625rem;
  letter-spacing: 0.15625rem;
}
.index > .btn[data-v-d72eb066] {
  margin-top: 10%;
}
