.layOutIndex[data-v-d72eb066] {
  text-align: center;
}
.layOutIndex > .title[data-v-d72eb066] {
  margin-top: 10%;
}
.layOutIndex > .content[data-v-d72eb066] {
  padding: 0 5%;
  margin-top: 5%;
}
.layOutIndex > .content > .text[data-v-d72eb066] {
  font-size: 0.9375rem;
  text-indent: 1.875rem;
  text-align: left;
  line-height: 1.5625rem;
  letter-spacing: 0.15625rem;
}
.layOutIndex > .step[data-v-d72eb066] {
  padding: 0 5%;
  margin-top: 5%;
}
.layOutIndex > .step > .text[data-v-d72eb066] {
  font-size: 0.9375rem;
  text-indent: 1.875rem;
  text-align: left;
  line-height: 1.5625rem;
  letter-spacing: 0.15625rem;
}
.layOutIndex > .btn[data-v-d72eb066] {
  margin-top: 10%;
}
