.indexPDFPage[data-v-5565366d] {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.indexPDFPage > .iframePDF[data-v-5565366d] {
  flex: 1;
  border: none;
}
.indexPDFPage[data-v-9e083af8] {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.indexPDFPage > .contor[data-v-9e083af8] {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10PX 0;
  border-bottom: 1PX solid #ddd;
}
.indexPDFPage > .baseContent[data-v-9e083af8] {
  flex: 1;
  overflow: auto;
}
.indexPDFPage[data-v-5500cc85] {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.indexPDFPage > .contor[data-v-5500cc85] {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10PX 0;
  border-bottom: 1PX solid #ddd;
}
.indexPDFPage > .baseContent[data-v-5500cc85] {
  flex: 1;
  overflow-y: auto;
}
.indexComponentPage > .btnHandle[data-v-ce82002c] {
  margin: 5PX 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1PX solid #ddd;
  padding: 5PX 0;
}
.indexComponentPage > .btnHandle > .btnIitem[data-v-ce82002c] {
  height: 30PX;
}
.indexComponentPage > .content[data-v-ce82002c] {
  flex: 1;
  overflow: hidden;
}
