.van-swipe-item {
  position: relative;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.van-swipe {
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  cursor: grab;
  -webkit-user-select: none;
          user-select: none;
}
.van-swipe__track {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}
.van-swipe__track--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.van-swipe__indicators {
  position: absolute;
  bottom: 12px;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.van-swipe__indicators--vertical {
  top: 50%;
  bottom: auto;
  left: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.van-swipe__indicators--vertical .van-swipe__indicator:not(:last-child) {
  margin-bottom: 6px;
}
.van-swipe__indicator {
  width: 6px;
  height: 6px;
  background-color: #ebedf0;
  border-radius: 100%;
  opacity: 0.3;
  -webkit-transition: opacity 0.2s, background-color 0.2s;
  transition: opacity 0.2s, background-color 0.2s;
}
.van-swipe__indicator:not(:last-child) {
  margin-right: 6px;
}
.van-swipe__indicator--active {
  background-color: #1989fa;
  opacity: 1;
}

.videoPlay[data-v-ed3aac1e] {
  position: relative;
  height: 100%;
  width: 100%;
}
.videoPlay > .video[data-v-ed3aac1e] {
  height: 100vh;
  width: 100%;
}
.videoPlay > .videoMask[data-v-ed3aac1e] {
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.videoPlay > .videoMask > .videoIcon[data-v-ed3aac1e] {
  height: 60PX;
  width: 60PX;
  background: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoPlay > .videoMask > .videoIcon > i[data-v-ed3aac1e] {
  font-size: 40PX;
  color: white;
}
.fullpage-container[data-v-0da60aec] {
  background: black;
}
