.ValidCode[data-v-2a35e4a0] {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ValidCode span[data-v-2a35e4a0] {
  display: inline-block;
}
.vailCode[data-v-37dfd6fc] {
  display: flex;
  align-items: center;
}
